body {
    width: 100%;
    min-width: 490px;  
       
}

.end {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 490px;
    border: 5px solid rgb(1, 9, 29);
    border-radius: 10px;
    width: 80vw;
}

h1 {
    font-size: 40px;
}